@font-face {
    font-family: "fonti";
    src: url("../fonts/Mulish-VariableFont_wght.ttf");
}

.container-fluid {
    font-family: "fonti";
}

.content {
    width: 220px;
    height: 270px;
    border: 1px solid #E8E7E7;
    box-shadow: 0px 1px 50px 0px #00000014;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.img1 {
    padding: 15px;
}

.ptag {
    display: flex;
    margin-left: 20px;
}

.number1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40.16px;
    text-align: left
}

.ptag2 {
    margin-left: 15px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.08px;
    text-align: left;
    color: #818181;
}

.btn1 {
    width: 58px;
    height: 23px;
    margin-left: 20px;
    background-color: #F8DEBD;
    outline: none;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}

.flex {
    display: flex;
}

.ptag3 {
    margin-top: 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.08px;
    text-align: left;
}

.btn2 {
    width: 58px;
    height: 23px;
    margin-left: 20px;
    background-color: #FBF0F3;
    outline: none;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}

.btn3 {
    width: 58px;
    height: 23px;
    margin-left: 20px;
    background-color: #D0FBFF;
    outline: none;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}

.btn4 {
    width: 58px;
    height: 23px;
    margin-left: 20px;
    background-color:#F8BDBD;
    outline: none;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}



